#footertopId {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    padding: 1rem;
    width: 600px;
  }
}
#footermiddleId {
  p {
    width: 300px;
  }
}
#footermiddleId {
  .btn {
    padding: 10px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.6s;
  }
}
#footerbottomId{
  margin-top: 20px;
  .social{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
}